
body{
    background-color: rgb(172, 172, 172);
}
body, .info-adders{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-adders input{
    width: 300px;
    height: 50px;
    font-size: 30px;
    background-color: rgb(10, 40, 87);
    color: white;
    padding: 10px 20px;
    box-sizing: border-box;
}
.info-adders button{
    width: 200px;
    height: 40px;
    background-color: rgb(168, 252, 0);
    color: rgb(10, 40, 87);
    font-size: 25px;
    margin-bottom: 50px;
}
table{
    width: 1000px;
    height: fit-content;
    border: 2px solid red;
    text-align: center;
    background-color: #fff;
    border-collapse: collapse;
}
th{
    font-size: 35px;
}
td{
    font-size: 30px;
    color: rgb(40, 3, 247);
}
td button{
    width: 100px;
    height: 35px;
    font-size: 20px;
}
td input{
    width: 130px;
    height: 27px;
    font-size: 25px;
    background-color: rgb(126, 126, 126);
    color: black;
    text-align: center;
    border-radius: 10px;
}
td input:focus{
    outline: none;
}

.search{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.search input{
    width: 200px;
    height: 50px;
}